﻿@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <div class="featured">
            <img class="featured-thumb" src="~/Content/Images/camaro.jpg" />
            <hr />
            <h3>Chevrolet Camaro</h3>
            <h4>2018 2SS</h4>
            <p>
                Many words could be used to describe this legendary performance family, but the only one that captures all of the refinement and engineering know-how that goes into every car — from the responsive LS to the supercharged ZL1 — is Camaro.
            </p>
            <div class="featured-footer">
                <h3>
                    <small>Starting at </small>$48,000.00
                </h3>
            </div>
        </div>
    </div>
</div>