﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.navbar {
    background-color: #fff;
    border-bottom: 2px solid #000;
}

.navbar-header {
    font-size: 30px;
    padding: 15px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 50px;
}

.featured-thumb {
    width: 100%;
}

.featured {
    position: relative;
    background-color: #fff;
    padding: 15px 15px 56px;
    min-height: 500px;
    border: 1px solid #ddd;
    border-bottom: 3px solid #ddd;
}

.featured-footer {
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 15px;
}
